.Linea1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.Linea2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.Linea3{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.Linea4{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.Calzado{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Ropa{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

